<div id="header">
  <div class="header-content">
    <div class="page-title">{{ routePath }}</div>
    <div class="profile">
      <div class="bar"><img src="assets/images/icons/bar.svg" alt="bar" /></div>
      <img src="assets/images/icons/notification.svg" alt="" />
      <div class="user">BO</div>
      <div class="options" [matMenuTriggerFor]="nav">
        <img src="assets/images/icons/dropdown.svg" alt="" />
      </div>
    </div>
  </div>
  <mat-menu class="menu-tray" #nav="matMenu">
    <div class="mat-menu-item" [routerLink]="['/login']">
      <a>Logout</a>
    </div>
  </mat-menu>
</div>
