#side-nav {
  position: relative;

  .nav-contents {
    padding-top: 2rem;

    .search-container {
      position: relative;
      display: inline-block;
      margin-left: 0.8rem;
      input {
        width: 195px;
        height: 42px;
        border-radius: 10px;
        background: rgba(245, 245, 245, 1);
        padding-left: 30px;
        outline: none;
        border: none;
        // border: 1px solid #e1e1e1;
      }

      i.fa-search {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #888;
        cursor: pointer;
      }
    }
  }

  .bottom-content {
    position: sticky;
    bottom: 0;
    background-color: #f1f1f1;
    padding: 16px;
  }

  .nav-item {
    display: flex;
    margin-top: 1.8rem;
    border-radius: 0.9rem;
    font-weight: 400;
    align-items: center;

    img {
      margin-left: 13px;
    }

    .nav-title {
      padding: 0rem 0.6rem;
      font-size: 0.875rem;
      cursor: pointer;

      // a{
      //   margin-top: 20px;
      // }

      .nav-title{
        padding-top:4px
      }
    }
  }
  .is-active {
    background-color: rgba(49, 133, 252, 0.12);
    padding: 0.7rem 0rem;
    color: rgba(10, 36, 114, 1);
    font-weight: 600;

    // img{
    //   padding-left:10px
    // }
  }
}
