@use "../abstracts/media-query" as *;

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.875rem;
  outline: none;
  border: none;
  font-weight: 500;
  padding: 0.3125rem 0.75rem;
  border-radius: 0.625rem;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;

  &:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.disabled,
  &:disabled {
    background: var(--ezPay-neutral-200);
    color: var(--ezPay-neutral-400);
    // border-color: var(--ezPay-neutral-200);
    opacity: 1;
    cursor: not-allowed;
  }
}

.ezPay-btn-sm {
  font-size: 0.8rem !important;
  padding: 1.2rem 2.5rem !important;
  height: 1.25rem;
  background-color: #0a2472;
  color: #fff;
}

.ezPay-btn-md {
  font-size: 1rem !important;
  padding: 0.375rem 1rem !important;
}

.ezPay-btn-lg {
  font-size: 1.125rem !important;
  padding: 0.4375rem 1.25rem !important;
}

.ezPay-btn-xl {
  font-size: 1.25rem !important;
  padding: 0.75rem 1.5rem !important;
}

.ezPay-btn-full {
  width: 100%;
}

.ezPay-btn-with-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}

.ezPay-btn-primary-text {
  background-color: #fff;
  color: #0a2472;
}

.ezPay-btn-primary {
  background-color: #0a2472;
  color: #fff;
  height: 3.25rem;
}

.ezPay-custom-container {
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  @include ezPay-media-query-min(ezPay-sm) {
    max-width: 30.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  @include ezPay-media-query-min(ezPay-md) {
    max-width: 45rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  @include ezPay-media-query-min(ezPay-lg) {
    max-width: 81.875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }
}
